@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark;
  }

  body {
    @apply bg-[#202020] text-white;
  }
}

@layer components {
  .chats-containder {
    @apply relative;
  }

  .chats-containder::before {
    --bg-img-width: 1018px;
    --bg-img-height: 1822px;
    --factor: 2;

    content: '';
    background-image: url('/images/default.scale-200.png');
    background-repeat: 'repeat';
    background-size: calc(var(--bg-img-width) / var(--factor))
      calc(var(--bg-img-height) / var(--factor));

    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
  }
}

@layer utilities {
  .window-drager {
    -webkit-app-region: drag;
  }
  .window-no-drag {
    -webkit-app-region: none;
  }
  .no-select {
    -webkit-user-select: none;
    user-select: none;
  }
  .line-dotted-end {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden !important;
  }
}
